@import url('https://fonts.googleapis.com/css?family=Karla|Lora');
body {
    width: 100%;
    height: auto;
    background-color: #191919;
    margin: 0;
}

footer {
    color: azure;
    position: fixed;
    bottom: 0;
    height: 1.5%;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#form {
    color: lightcyan;
    width: 75%;
    margin: auto;
    height: auto;
    border: 1px solid yellow;
    position: relative;
}

#form::after {
    content: "";
    background: url(images/microfoon.jpg);
    background-repeat: no-repeat;
    background-size: 1190px 665px;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

nav {
    text-align: center;
    font-size: 20px;
    color: yellow;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.7);
}

ul {
    list-style: none
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

ul li {
    display: inline-block;
}

nav ul li:hover {
    color: red;
    position: relative;
    font-size: 20px;
}

input,
select,
textarea {
    width: 300px;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}

form {
    margin: auto;
    width: 60%;
}

fieldset {
    width: 30%;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    top: 30%;
    margin-bottom: 2%;
    padding: 5px;
    text-align: center;
}

legend {
    color: azure;
}

p.formulierkleur {
    font-size: 15px;
    color: white;
    margin: 0;
    text-shadow: 0 0 5px red;
}


/*-- begin Home pagina ---*/

#containerhome {
    position: relative;
    width: 800px;
    height: auto;
    margin: 100px auto;
    overflow: hidden;
}

#homebox1 {
    position: relative;
    width: 300px;
    height: 400px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #191919;
    color: white;
    float: left;
}

#homebox2 {
    position: relative;
    width: 400px;
    height: 220px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #191919;
    color: white;
    float: right;
}

#homebox3 {
    width: 400px;
    height: 178px;
    float: right;
}

p#bandnaam {
    color: yellow;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 5px red;
}

p#deband {
    border: 1px solid grey;
    border-bottom: 0px;
    width: 10%;
    padding-top: 5px;
    color: white;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

#fotos {
    width: auto;
    height: 20%;
    border: 1px solid grey;
    border-bottom: 0px;
    margin: 35px;
    text-align: center;
}

.foto {
    width: 24%;
    padding: 2px;
    display: inline-block;
}

img.bandfotos {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /*    padding: 20px;*/
}

#button {
    color: white;
    background-color: lightslategrey;
    font-size: 15px;
    border: 0;
    width: 40%;
    text-align: center;
}

#button:hover {
    color: lightslategray;
    background-color: white;
}

#socialmedia {
    width: 370px;
    height: 75px;
    margin-left: 15px;
}

img.media {
    width: 60px;
    border-radius: 15px;
}

p.ph {
    font-size: 15px;
    margin: 15px;
}

h3.h3 {
    text-align: center;
}

p#sm {
    float: right;
    padding-top: 7%;
    margin: 0;
    color: white;
}

#muziekcontainer {
    display: inline-block;
    text-align: center;
}

.audiocontainer {
    border: 2px inset white;
    border-bottom: 0px;
    width: 38%;
    float: left;
    margin-left: 8%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    text-align: center;
}

.audiocontainer p{
    text-align: left;
}

.recensie {
    color: azure;
    width: 25%;
    display: inline-block;
    border: 2px inset white;
    border-bottom: 0px;
    margin: 1%;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.socialmedia {
    display: inline-block;
    text-align: center;
}
#videoContainer
{
    text-align: center;
    padding: 15px;
    margin-top: 1%;
}
.containertitle
{
    text-align: center;
    border: 1px solid white;
    border-bottom: 0px;
    width: 11%;
    padding: 8px 5px 0px 5px;
    margin: auto;
    margin-bottom: 2%;
}
.titelkarla
{
    color: rgb(131, 182, 204);
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

#tekst
{
    width: 40%;
    margin: auto;
    text-align: center;
    color: rgb(252, 251, 249);
    font-family: 'Lora', serif;
    font-size: 1.2em;
    font-style: italic;
}

.italic{
    font-style: italic;
}
/*-- einde home pagina --*/
